.skills{
  margin-top: 30px;
  background: cadetblue;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.skills ul{
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.skills li{
  background: gold;
  padding: 15px;
  border-radius: 5px;
}

