.block{
    width: 300px;
    margin: 50px auto;
}
.btn{
    background: transparent;
    border: 1px solid black;
    padding: 5px 7px;
    cursor: pointer;
}
.block-text{
    font-size: 15px;
    text-align:center;
    padding: 20px;
}
.red{
    background: red;
    color: green;
}
.green{
    background: green;
    color: red;
}
.yellow{
    background: yellow;
    color:blue;
}