<div [ngClass]="'wrapper'">
  <div [ngClass]="'text_info'">
    <h1>Бои жуков (Bug fighting)</h1>
    <p>
      Это хобби особенно популярно в восточных странах. Люди ловят богомола (praying mantis), паука (spider), жука-рогача (stag beetle), кузнечика (grasshopper) или другое подобное насекомое. После этого они помещают в клетку двух насекомых (put two insects in the cage) и слегка толкают (slightly push) их палочкой, чтобы разозлить. Обозленные насекомые начинают бой, который идет до тех пор, пока одно из насекомых не перестанет двигаться (stop moving) или попытается убежать (try to run). Сперва может показаться, что это самое дешевое и простое хобби, однако в восточных странах лучшие насекомые (insects of the first water) могут стоить свыше 100 долларов!
    </p>
  </div>
  <div [ngClass]="'images'">
    <img [attr.src]="images[0]" alt="bugs">
    <img [attr.src]="images[1]" alt="bugs">
    <img [attr.src]="images[2]" alt="bugs">
  </div>
</div>
